{% extends "base.html" %}

{% block content %}
    <h2>Cart</h2>
    {% for product in products %}
    <div>
        <h4>{{ product.name }}</h4>
        Price: ${{ product.price }}
        <br>
        Image: {{ product.image }}
        <br>
    </div>
    <div>
        <a href='/product/{{product.product_id}}'> Detail </a>
        <br>
        <a href='/addToCart/{{product.product_id}}/cart'> Add to Cart </a>
        <br>
        <a href='/removeFromCart/{{product.product_id}}/cart'> Remove </a>
    </div>
    {% endfor %}
    <hr>
    <a href="/checkout">Proceed to checkout</a>
{% endblock %}